.slider-js__button {
    position: absolute;
    z-index: 1;

    top: 0;
    bottom: 0;

    width: 48px;
    height: 48px;
    margin: auto 0;

    background-color: white;

    border-radius: 50%;

    cursor: pointer;

    transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;

    &::before
    {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        width: 17px;
        height: 2px;
        margin: auto;

        content: "";

        background-color: black;

        transition: background-color 0.2s ease-in-out;
    }

    &::after
    {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 8px;
        right: 0;

        width: 8px;
        height: 8px;
        box-sizing: border-box;
        margin: auto;

        content: "";

        border-bottom: 2px solid black;
        border-right: 2px solid black;

        transform: rotate(-45deg);

        transition: border-color 0.2s ease-in-out;
    }

    &.disabled
    {
        cursor: default;

        &::before
        {
            background-color: grey;
        }

        &::after
        {
            border-color: grey;
        }
    }
}

.slider-js__button-prev {
    left: 0;

    transform: scale(-1, 1);
}

.slider-js__button-next {
    right: 0;
}
